main {
    display: grid;
    grid-template-columns: minmax(auto, 300px) 1fr;
    
}

hr {
    border: 1px solid grey;
    box-shadow: 10px;
}

.sidebar {
    background-color: aqua;
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto;
    align-content: start;
    justify-content: start;
    
}

.sidebar p {
    font: 700 1.1rem helvetica;
    color: white;
}

.sidebar img {
    width: 30px;
}

.sidebar-logo {
    display: grid;
    gap: 3px;
    grid-template-columns: 15px 15px;
    grid-template-rows: repeat(3, 10px);
}

.sidebar-logo > div:first-child {
    grid-area: 1/1/3/2;
}

.sidebar-logo > div:last-child {
    grid-area: 2/2/4/3;
}

.sidebar-logo div {
    background-color: whitesmoke;
}

h1 {
    color: whitesmoke;
    margin: 0;
}

.sidebar > nav {
    display: grid;
    row-gap: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    column-gap: 5px;
}

.header {
    padding: 0 2rem;
}

.header img {
    width: 30px;
    height: 30px;
}

.header-top {
    display: grid;
    grid-template-columns: auto 3fr 1fr auto auto;
    align-items: center;
    gap: 10px;

    & > img:last-of-type {
        width: 40px;
        height: 40px;
        border: 2px solid hsla(308, 90%, 19%, 0.541);
        border-radius: 50%;
    }
}

.header-top input {
    height: 30px;
    background-color: aquamarine;
    border: 2px solid white;
    border-radius: 100vh;
}

.header-top button {
    border: none;
    justify-self: end;
}

.header-top p {
    font: bold 1rem helvetica;
}

.header-bottom {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    align-items: center;
}

.profile-img {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
    
    & img {
        width: 70px;
        height: 70px;
        border: 2px solid rgba(56, 8, 8, 0.418);
        border-radius: 50%;
    }

    & div {
        display: grid;
        align-content: center;
        row-gap: 5px;
    }

    & div > p:first-child {
        font: bold 0.8rem helvetica;
        margin: 0;
    }

    & div > p:last-child {
        font: bold 1.4rem helvetica;
        margin: 0;
    }
}

.header-bottom > div:last-child {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    justify-content: end;
    gap: 10px;
}

.header-bottom button {
    background-color: aqua;
    color: white;
    border-radius: 100vw;
    border: none;
    height: 30px;
    font: bold 1rem helvetica;
}

.user-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 1.2rem;
    background-color: rgb(219, 232, 233);
}

.user-content > section:first-child {
    padding-left: 1.2rem;
}

article {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 2rem;

    & img {
        width: 20px;
        height: 20px;
    }
}

.project-card {
    height: 250px;
    display: grid;
    grid-template-columns: 0.8rem 1fr;
    grid-template-rows: 1fr;
    align-content: start;
    column-gap: 10px;
    border-radius: 20px;
    background-color: whitesmoke;

    & > div:first-child {
        background-color: yellow;
        width: 100%;
        height: 100%;
        border-radius: 0 100vh 100vh 0;
    }

    & > div:last-child {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr;
        row-gap: 1.2rem;
        padding: 0 1rem 0 0;
        align-content: space-around;

        & div {
            justify-self: end;
        }
    }

    & h3 {
        font: bold 1rem helvetica;
        height: auto;
        margin: 0;
    }

    & p {
        line-height: 1.5rem;
        font: 0.8rem helvetica;
    }
}